@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

:root {
  --swiper-theme-color: #ffffff;
}

/*Tamanho e o posicionamento do Carrossel*/
.swiper {
  height: 60vh;
  margin: 0;
}

/*Estiliza a imagem do slide*/
.swiper-slide-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-slide {
  background-color: rgba(0, 0, 0, 0.5);
}