@import "tailwindcss";

@layer utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
 
    input[type="number"] {
      -moz-appearance: textfield;
    }
}
 
.bg-app {
  background-image: url(https://ik.imagekit.io/z8ilvvp84p/unsplash_bau67pJBPcA.png?updatedAt=1741342082797);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-white-a {
  background-color: #eeffeed2;
}

.bg-app-black {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Animações */

@keyframes animatetop {
  from {
      transform: translateY(-45px);
      opacity: 0.8
  }

  to {
      transform: translateY(0px);
      opacity: 1.5
  }
}

.animate-right {
  animation: animateright 1.5s ease;
}

@keyframes animateright {
  from {
      transform: translateX(45px);
      opacity: 0.8
  }

  to {
      transform: translateX(0px);
      opacity: 1.5
  }
}

.animate-bottom {
  animation: animatebottom 1.5s ease;
}

@keyframes animatebottom {
  from {
      transform: translateY(45px);
      opacity: 0.8
  }

  to {
      transform: translateY(0px);
      opacity: 1.5
  }
}

.animate-left {
  animation: animateleft 1.5s ease;
}

@keyframes animateleft {
  from {
      transform: translateX(-45px);
      opacity: 0.8
  }

  to {
      transform: translateX(0px);
      opacity: 1
  }
}